/* Värit:
Tausta: #212237
Teksti: #6CA3FF
Muut: #4882C1 */

body{
    background-color: #212237;
}
.startbox{
    margin-bottom: 10%;
    margin-right: 25%;
    color: #6CA3FF;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: x-large;
    font-family: "Ubuntu", sans-serif;

}
a{
    color: #6CA3FF;
}
a:link{
    text-decoration: none;
    color: #6CA3FF;
}
a:link:visited{
    color: #6CA3FF;
}
a:hover{
    color: #AFDCEB;
}
.coffee{
    max-width: 120px;
    margin-bottom: 20px;
}
