body{
    background-color: #0D1117;
}
.startbox{
    margin-bottom: 10%;
    margin-right: 25%;
    color: #B450B0;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: x-large;
    font-family: "Ubuntu", sans-serif;

}
a{
    color: #B450B0;
}
a:link{
    text-decoration: none;
    color: #B450B0;
}
a:link:visited{
    color: #B450B0;
}
a:hover{
    color: #AFDCEB;
}
.coffee{
    max-width: 120px;
    margin-bottom: 20px;
}