/* Värit:
Tausta: #212237
Teksti: #6CA3FF
Muut: #4882C1 */

body{
    background-color: #212237;
    color: #6CA3FF;
    font-family: "Ubuntu", sans-serif;
}
.linkit{
    font-family: "Ubuntu", sans-serif;
    writing-mode: vertical-lr;
    font-size: x-large;
    display: block;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 30px;
    top: 20px;
}
 .nykyinen{
    color: #AFDCEB;
}
a{
    color: #6CA3FF;
    margin: 5px;
}
a:link{
    text-decoration: none;
    color: #6CA3FF;
}
a:link:visited{
    color: #6CA3FF;
}
a:hover{
    color: #AFDCEB;
}


.about{
    text-align: left;
    font-size: large;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.darkerfont{
    color: #335a85;
}

.vanhat{
    text-align: center;
}

.githubabout{
    max-width: 60px;
    filter: invert(1);
}