body{
    background-color: #0D1117;
    color: #B450B0;
    font-family: "Ubuntu", sans-serif;
}
.linkit{
    font-family: "Ubuntu", sans-serif;
    writing-mode: vertical-lr;
    font-size: x-large;
    margin-top: 40px;
    margin-left: 30px;
}
.nykyinen{
    writing-mode: horizontal-tb;
    color: #AFDCEB;
}
a{
    color: #B450B0;
    margin: 5px;
}
a:link{
    text-decoration: none;
    color: #B450B0;
}
a:link:visited{
    color: #B450B0;
}
a:hover{
    color: #AFDCEB;
}